@page {
    size: 80mm auto;
    margin: 0;
}

@media print {
    @page {
        margin:0;
        size:auto;
    }
    body {
        margin: 0;
    }
}

body {
    font-family: monospace;
    font-size: 12px;
}

.receipt {
    width: 80mm; /* change to 80mm if needed */
    padding: 4px 12px 6px 6px;    
    margin-top:-6px;
}
.billDetailSection {
    color:#000;
    font-size:12px;
    font-weight:bold;
}
table.items th {
    color: #000;
    font-size: 11px;
    font-weight: bold;
}
tr.itemstd td {
    color: #000;
    font-size: 11px;
    font-weight: bold;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.line {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.total {
    font-size: 13px;
}

hr {
    border: none;
    border-top: 1px dashed #000;
    margin: 6px 0;
}

table.items {
    width: 95%;
    border-collapse: collapse;
}

    table.items th,
    table.items td {
        /*padding: 2px 0;*/
        font-size: 10.5px;
    }
