@page "/"
@using Microsoft.EntityFrameworkCore
@inject NavigationManager Nav
@inject PosDbContext Db

<p>Loading…</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        var setting = await Db.LocalSettings.FirstOrDefaultAsync();

        if (setting == null)
            Nav.NavigateTo("/setup", true);
        else
            Nav.NavigateTo("/login", true);
    }
}
